@font-face
{
    font-family: SFPR;
    src: url('../../assets/SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face
{
    font-family: SFPRLight;
    src: url('../../assets/SF-Pro-Rounded-Light.otf') format('opentype');
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;

    
}

.content
{
    background: #FCFCFC;
    width: 400px;
    height: 860px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 1px rgba(154, 154, 154, 0.378);
border-radius: 30px;
justify-content: end;
}

.frame_row
{
    overflow: hidden;
}

.frame
{
    height: 730px;
    justify-content: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: SFPR;
    transition: all 1s;
}

img{
    transition: transform 1s;
}

.text
{
    padding: 0px 20px;
    width: 357px;
    transition: all 1s;
    margin-top: -30px;
}

.text_first
{
    padding: 0px 20px;
    width: 357px;
    transition: all 1s;
    margin-top: -30px;
    opacity: 0;
}

.frame h2
{
    font-weight: 600;
    font-size: 30px;
    line-height: 38.4px;
    letter-spacing: -0.4px;
    text-align: center;
}

.frame p
{
    font-family: SFPRLight;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #656972;
}

.indication
{
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    height: 35px;
    overflow: hidden;
    align-items: center;
    width: 65px;
    align-self: center;
    opacity: 0;
    transition: all 1s;

}

.indication div
{
    background: #343434;
    height: 7px;
    border-radius: 16px;
    color: #34343400;
    transition: all 0.5s;
}

.ind1
{
    width: 37px;
    /* position: absolute; */
}

.ind2
{
    width: 13px;
    background: #34343448 !important;
    /* position: absolute; */

}

.ind3
{
    width: 6px;
    background: #34343448 !important;
    /* position: absolute; */

}

.button_cont
{
    display: flex;
    justify-content: center;
    padding: 16px;
    opacity: 0;
    transition: all 1s;


}

.next_but
{
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0.22px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background: #343434;
    font-family: SFPR;
    height: 56px;
    width: 100%;
    font-weight: 500;
    border-radius: 16px;
    border: none;
}