@font-face
{
    font-family: SFPR;
    src: url('../../assets/SF-Pro-Rounded-Regular.otf') format('opentype');
}

main{
    font-family: SFPR;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    flex-direction: column;
}