@font-face
{
    font-family: SFPR;
    src: url('../../assets/SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face
{
    font-family: SFPRBold;
    src: url('../../assets/SF-Pro-Rounded-Semibold.otf') format('opentype');
}

@font-face
{
    font-family: SFPRLight;
    src: url('../../assets/SF-Pro-Rounded-Light.otf') format('opentype');
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;

}

.content
{
        background: #FCFCFC;
    width: 400px;
    height: 860px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        box-shadow: 0px 0px 8px 1px rgba(154, 154, 154, 0.378);
border-radius: 30px;
}

.main
{
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.header
{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.header h1
{
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.4px;
    font-family: SFPRBold;
    margin-bottom: 10px;
}

.header p
{
font-family: SFPRLight;
font-weight: 300;
font-size: 15px;
line-height: 100%;
letter-spacing: 0.4px;
color: #656972;
margin: 0px;
}

.input_cont
{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    gap: 10px;
}

.input_cont label
{
font-family: SFPRLight;
font-weight: 400;
font-size: 13px;
line-height: 100%;
letter-spacing: 0.4px;
color: #999EA7;
margin-left: 5px;
}

.input_cont div
{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 12px;
    border: 1px solid #F2F2F5;
    background: white;
    border-radius: 12px;
font-family: SFPR;
}

.input_cont input
{
    width: 100%;
    border: none;
    font-size: 16px;
}

.input_cont input:focus
{
    width: 100%;
    outline: none;
    font-size: 16px;
}

.input_cont button
{
    border: none;
    background: none;
    align-items: center;
    padding: 0px;
    display: flex;
}

.button_cont
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 16px;

}

.button_cont p
{
    font-family: SFPRLight;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.4px;
    text-align: center;
    color: #656972;
    font-weight: 200;
}

.button_cont span
{
    font-family: SFPR;
}

.next
{
    background: #2d2d2d5c;
        font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0.22px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: SFPR;
    height: 56px;
    width: 100%;
    font-weight: 500;
    border-radius: 16px;
    border: none;
}
